* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.titel {
  width: 100%;
  height: 50px;
}
.titel .center {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 50px;
  background: #e4e4e4;
  margin: 0 auto;
}
.titel .logo img {
  width: 100px;
  height: 50px;
}
.titel .right li {
  position: relative;
  width: 100px;
  height: 50px;
  border: 1px solid orange;
  float: left;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.titel .right li a {
  display: block;
  width: 100%;
  height: 100%;
}
.titel .right li ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
}
.titel .right li ul li {
  background: #dddddd;
}
.right > li a:hover {
  background-color: orange;
}
.right > li > ul > li:hover {
  background-color: red;
}
